.span4
  .well.pagination-centered
    %h2.label.label-important= t("customer_link.title").upcase
    %p=  t "customer_link.content"
    = link_to t("enter"), "http://www.netfincasweb.com/acceder-despacho.php",
      class: "btn btn-large", target: :_blank
    %hr
    = image_tag "gestion_hogar.jpeg"
