- content_for :title do t(".title") end

.container
  .row
    .span8
      .well
        %h1= t(".link_interesting.link_interesting_title")
        %ul
          %li
            %span= t ".link_neighboor_comunity"
            %span= link_to t(".visit"), "http://google.es" , class: "label label-info", target: :_blank

    = render "customers_manage_community"