/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 *= require twitter_bootstrap

 */


$carousel_image_size: 400px;
.royalSlider {
  height: $carousel_image_size;
  #block_1_1 {
    p {
      color: white;
      font-size: 45px;
      line-height: 45px;
      margin-left: 30%;
      strong {
        color: blue;
      }
    }

  }
  #block_2_1 {
    p {
      color: white;
      font-size: 45px;
      line-height: 45px;
      margin-top: 40%;
      text-align: right;
      left: auto;
      right: 30%;
      strong {
        color: green;
      }
    }

  }
}

#home_background {
  height: $carousel_image_size;
}

#colegiado_info {
  width: 500px;
  float: right;
  text-align: right;
}